<!doctype html>
<html >
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
		<script src="app.js"></script>
	</head>

	<body ng-app="recipeApp" ng-controller="RecipeController as RecipeCtrl">

		<h1>Recipe of the week</h1>
		<h2>{{RecipeCtrl.recipe.name}}</h2>

		<p>Preparation Time : {{RecipeCtrl.recipe.prepTime}}</br>
			Cooking Time: {{Recipe.recipe.cookTime}}
		</p>

		<div ng-repeat="ingredient in ingredients">{{ingredient}}
			<p ng-repeat="i in ingredient">{{i}}<br>
			<p ng-show="recipeCtrl.isGlutenFree = false"></p>
		</div>
		


	</body>
</html>
